.alarm-card-container {
    width: 100%;
    height: 50px;
    display: flex;
    overflow: scroll;
    align-items: center;
    padding-left: 10px;
}

.alarm-card-date {
    padding-right: 10px;
    font-weight: 700;
}

.alarm-card-content {
    font-weight: 500;
}
