.sm{
    min-width : 52px;
    width : auto;
    height : 24px;
    padding : 0 8px 0 8px;
    border-radius :3px;
    font-size : 0.75rem;
}

.md{
    min-width : 96px;
    width : auto;
    height : 32px;
    padding : 0 14px 0 14px;
    border-radius : 3px;
    font-size: 0.875rem;
}

.lg{
    min-width : 120px;
    width : auto;
    height : 40px;
    padding : 0 14px 0 14px;
    border-radius : 3px;
    font-size: 1rem;
}

.bold{
    font-weight: bold;
}

.line-purple{
    border : 1px solid #603AAE;
    color : #603AAE;
    background-color: white;
}

.line-black{
    border : 1px solid var(--black);
    color : var(--black);
    background-color: var(--white);
}

.line-red{
    border : 1px solid var(--red-600 );
    color : var(--red-600 );
    background-color: white;
}

.full-purple{
    border : 1px solid var(--violet-600);
    background-color:  var(--violet-600);
    color : white;
}

.full-black{
    border : 1px solid var(--black);
    background-color: var(--black);
    color : var(--white);
}

.full-red{
    border : 1px solid var(--red-600 );
    background-color: var(--red-600 );
    color : var(--white );
}
