.login-container {
  width: 100vw;
  height: 100vh;
}

.login-background-img {
  width: 100vw;
  height: 100vh;
}

.kakao-button-container {
  width: 100vw;
  height: 40vh;

  position: absolute;
  bottom: 70px;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 900;
}

.local-login-container{
  width : 60vw;
  height : 19vh;
  z-index : 999;
  /*margin-bottom : 10px;*/
}

.local-login-button{
  width : 60vw;
  height : 55px;
  margin-top : 10px;
  border-radius: 10px;

  font-weight: 600;
  font-size: 1.2rem;
  color : white;
  background-color: var(--primary);
}

.kakao-login-button{
  width : 60vw;
  height : 55px;
  margin-bottom : 10px;
}

.local-register-button{
  color : white;
  font-size: 1.2rem;
  font-weight: 600;
}

/* .kakao-login-button{
    z-index: 999;
} */

