/* Bottom Navigation CSS */
.bottom-nav-container{
    z-index : 999;

    position: fixed;
    bottom:0;

    width : 100vw;
    height : 48px;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}

.bottom-icon{
    width:2rem;
    height:2rem;
}


/* Top Navigation CSS */
.top-nav-container{
    z-index : 999;

    width : 100vw;
    height : 50px;

    position : fixed;
    top : 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.top-icon{
    width :48px;
    height : 48px;

    padding : 12px;

    position: fixed;
    right : 12px;
    top : 24px;
}

.top-nav-text-container{
    padding : 12px;

    width : 150px;
    height : 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size : 1.125rem;
}

.top-nav-text-container h1{
    height : 30px;
    text-align: center;

    display: flex;
    align-items: center;
    /*text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);*/
}

.style-home{
    color : var(--white);
}

.style-not-home{
    color : var(--black);
}

.style-current-white{
    border-bottom: 3px solid var(--white);
}

.style-current-black{
    border-bottom: 3px solid var(--black);
}

.style-not-current{
    border-bottom: 3px solid transparent;
}

/* vertical navigation */
.vertical-navigation-container{
    z-index : 999;

    width : 32px;
    height : 216px;

    position : fixed;
    bottom : 82px;
    right : 14px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
