.profile-in-sf-container{
    width : 210px;
    height : 120px;
    position: absolute;
    bottom :10%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left : 20px;
    color : var(--white);
    margin-bottom :35px;
}

.profile-container{
    width : 100px;
    height : 100px;
}

.follow-following-button-container{
    height : 100px;
    width : 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom : 10px;
    padding-left : 10px;
}


.follow-button{
    width : 75px;
    height : 30px;
    border-radius: 10px;
    font-weight: 600;
    font-size : 0.9rem;
    background-color: var(--red-500);
}

.following-button{
    width : 75px;
    height : 30px;
    border-radius: 10px;
    font-weight: 600;
    font-size : 0.9rem;
    background-color: var(--gray-500);
}
