.tag-container{
    min-width :26px;
    width : fit-content;
    height: 20px;
    padding : 6px 8px 6px 8px;
    box-sizing: border-box;
    background: var(--gray-100);
    border : 1px solid var(--gray-200);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    text-align: center;
    display: flex;
    align-items: center;
}

.tag-container:hover{
    background: var(--gray-200);
    border : 1px solid var(--gray-300);
}

.tag-text{
    font-style: normal;
    font-weight: 400;
    font-size: 0.5rem;
    line-height: 0.625rem;
    text-align: center;
    color: var(--black);
}
