.follow-following-page-container{
    width : 100vw;
    height : 100vh;
}

.follow-following-page-inner-container{
    width : 100%;
    height : 45px;
    position: fixed;
    top : 74px;
    left:0;
    background: var(--white);
}

.follow-following-inner-container{
    margin-top : 120px;
    width : 100%;
    height : 100%;
}

.follower-following-tab-container{
    width : 100vw;
    height : 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.not-current-tab-div{
    width : 50%;
    height : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom : 1.5px solid var(--gray-200);
}

.current-tab-div{
    width : 50%;
    height : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom : 3px solid var(--gray-800);
}

.current-tab-span{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: var(--black);
}

.not-current-tab-span{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: var(--gray-200);
}


